<config>
    <modules>
        <Djs_DynamicCatalog>
            <version>0.0.1</version>
        </Djs_DynamicCatalog>
    </modules>
    <global>
        <models>
            <djs_dynamiccatalog>
                <class>Djs_DynamicCatalog_Model</class>
                <resourceModel>djs_dynamiccatalog_resource</resourceModel>
            </djs_dynamiccatalog>
            <djs_dynamiccatalog_resource>
                <class>Djs_DynamicCatalog_Model_Resource</class>
                <deprecatedNode>dynamiccatalog_mysql4</deprecatedNode>
                <entities>
                    <rule>
                        <table>dynamiccatalog_rule</table>
                    </rule>

                </entities>
            </djs_dynamiccatalog_resource>
        </models>

        <helpers>
            <djs_dynamiccatalog>
                <class>Djs_DynamicCatalog_Helper</class>
            </djs_dynamiccatalog>
        </helpers>
        <resources>
            <dynamiccatalog_setup>
                <setup>
                    <module>Djs_DynamicCatalog</module>
                </setup>
            </dynamiccatalog_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <djs_dynamiccatalog before="Mage_Adminhtml">Djs_DynamicCatalog_Adminhtml</djs_dynamiccatalog>
                    </modules>
                </args>
            </adminhtml>
        </routers>

    </admin>
    <adminhtml>
        <layout>
            <updates>
                <djs_dynamiccatalog>
                    <file>dynamiccatalog.xml</file>
                </djs_dynamiccatalog>
            </updates>
        </layout>
    </adminhtml>
</config>